<router-outlet></router-outlet>
<p>{{title}}</p>
<form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
  <div class="form-field">
    <label for="title">
      Title
    </label>
    <input id="title" formControlName="title" required>
    <small *ngIf="errorMsg.title">
      {{errorMsg.title}}
    </small>
  </div>
  <div class="form-field">
    <label for="content">
      Content
    </label>
    <input id="content" formControlName="content" required>
    <small *ngIf="errorMsg.content">
      {{errorMsg.content}}
    </small>
  </div>
  <button type="submit">Submit</button>
  <div *ngFor="let post of postsAry;let i = index">
    <p>{{i}}</p>
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
  </div>
</form>
<button (click)="addProduct()">Add Product</button>
<div *ngFor="let product of products | async">
  <p>{{product.name}}</p>
  <p>{{product.price}}</p>
</div>